<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the installation.
 * You don't have to use the website, you can copy this file to "wp-config.php"
 * and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * Database settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://developer.wordpress.org/advanced-administration/wordpress/wp-config/
 *
 * @package WordPress
 */

/** Redis config */
define('WP_REDIS_HOST', '127.0.0.1');
define('WP_REDIS_PORT', 6379);
define('WP_CACHE', true);


// ** Database settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', 'aclabv2_db' );

/** Database username */
define( 'DB_USER', 'aclabv2_user' );

/** Database password */
define( 'DB_PASSWORD', 'your_db_password_here' );

/** Database hostname */
define( 'DB_HOST', 'localhost' );

/** Database charset to use in creating database tables. */
define( 'DB_CHARSET', 'utf8mb4' );

/** The database collate type. Don't change this if in doubt. */
define( 'DB_COLLATE', '' );

/**#@+
 * Authentication unique keys and salts.
 *
 * Change these to different unique phrases! You can generate these using
 * the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}.
 *
 * You can change these at any point in time to invalidate all existing cookies.
 * This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
define( 'AUTH_KEY',         'x*xSq;R^E@x=4)|xl8FWO39R$# T 2h{G9},paxR[/A}2bpCnbX%o-1w^2w8)T%7' );
define( 'SECURE_AUTH_KEY',  'V:#g-Xwg(6-7.r$cD57]L$jr#[>el//*_I{UNmy*[43v#M(E#nC7;4F8w%K91p6p' );
define( 'LOGGED_IN_KEY',    '^zOJ61gm].k8l^F` !:5nj3y&i{oT/dc7J(&_wub*sX_))H=4+Hf`h{g/a<PmU,h' );
define( 'NONCE_KEY',        '[<x&EOf/|QUWR fmc@E`pArr!X8[)e#;zQ/$>e=gv?PAR|j9a7+g*oR=YAQf,$5d' );
define( 'AUTH_SALT',        'BoX/aG+6Zy>DNUr0_An!4m$}92J.B8eS)G/|t[hG6EdFeWVU|H#,<-h4tk-j[z):' );
define( 'SECURE_AUTH_SALT', 'F%y1+mGT&|C/],Mv,07fql%Mkcl7S!8/=K*.?h=ZjB%XfjK[{*T_L|5]fjf.(*D/' );
define( 'LOGGED_IN_SALT',   'z *T!uVV,m%=E+}urH:}.1Nwhk?YHxq5OQ}zOJtGsaXwKz-!9 ;DeaIEbr!tfj>q' );
define( 'NONCE_SALT',       'V<NpL?]Kzp2X[1Zs>vO1g-(GB+2^]_G`+]$}([!b@kaiEpH}t.hvl(og~xh]=I3?' );

/**#@-*/

/**
 * WordPress database table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 *
 * At the installation time, database tables are created with the specified prefix.
 * Changing this value after WordPress is installed will make your site think
 * it has not been installed.
 *
 * @link https://developer.wordpress.org/advanced-administration/wordpress/wp-config/#table-prefix
 */
$table_prefix = 'prefix_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the documentation.
 *
 * @link https://developer.wordpress.org/advanced-administration/debug/debug-wordpress/
 */

/* Add any custom values between this line and the "stop editing" line. */


/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
	define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';
